WhereMyConnections/WhereMyConnections.SvcClient/Service References/StdSvcRef/StdSvcConnectionWPF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.std.sg/ax/std/cm/services" elementFormDefault="qualified" targetNamespace="http://schemas.std.sg/ax/std/cm/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://win-u6u8d3bkohb:8101/DynamicsAx/Services/StdSvcConnectionWPF?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="StdConnectionGetConnectionsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StdConnectionGetConnectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:PortfolioConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>