WhereMyConnections/WhereMyConnections.SvcClient/Service References/StdSvcRef/StdSvcConnectionWPF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.std.sg/ax/std/cm/services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.std.sg/ax/std/cm/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.std.sg/ax/std/cm/services/Imports">
      <xsd:import schemaLocation="http://win-u6u8d3bkohb:8101/DynamicsAx/Services/StdSvcConnectionWPF?xsd=xsd3" namespace="http://schemas.std.sg/ax/std/cm/services" />
      <xsd:import schemaLocation="http://win-u6u8d3bkohb:8101/DynamicsAx/Services/StdSvcConnectionWPF?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://win-u6u8d3bkohb:8101/DynamicsAx/Services/StdSvcConnectionWPF?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://win-u6u8d3bkohb:8101/DynamicsAx/Services/StdSvcConnectionWPF?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://win-u6u8d3bkohb:8101/DynamicsAx/Services/StdSvcConnectionWPF?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
      <xsd:import schemaLocation="http://win-u6u8d3bkohb:8101/DynamicsAx/Services/StdSvcConnectionWPF?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://win-u6u8d3bkohb:8101/DynamicsAx/Services/StdSvcConnectionWPF?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://win-u6u8d3bkohb:8101/DynamicsAx/Services/StdSvcConnectionWPF?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StdConnectionGetConnectionsRequest">
    <wsdl:part name="parameters" element="tns:StdConnectionGetConnectionsRequest" />
  </wsdl:message>
  <wsdl:message name="StdConnectionGetConnectionsRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="StdConnectionGetConnectionsResponse">
    <wsdl:part name="parameters" element="tns:StdConnectionGetConnectionsResponse" />
  </wsdl:message>
  <wsdl:message name="StdConnection_getConnections_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:portType name="StdConnection">
    <wsdl:operation name="getConnections">
      <wsdl:input wsaw:Action="http://schemas.std.sg/ax/std/cm/services/StdConnection/getConnections" name="StdConnectionGetConnectionsRequest" message="tns:StdConnectionGetConnectionsRequest" />
      <wsdl:output wsaw:Action="http://schemas.std.sg/ax/std/cm/services/StdConnection/getConnectionsResponse" name="StdConnectionGetConnectionsResponse" message="tns:StdConnectionGetConnectionsResponse" />
      <wsdl:fault wsaw:Action="http://schemas.std.sg/ax/std/cm/services/StdConnection/getConnectionsAifFaultFault" name="AifFaultFault" message="tns:StdConnection_getConnections_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>